.marquee {
  height: 30px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(96, 51, 162, 0.4);
}
.marquee .text {
  position: relative;
  top: 0;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.marquee .text.before-appear {
  animation: marquee 1s linear infinite;
}
@keyframes marquee {
  from {
    top: 0px;
  }
  to {
    top: -30px;
  }
}