.process {
  display: flex;
  flex-direction: column;
}

.process--circle {
  display: flex;
  align-items: center;
}

.circle--bottom {
  stroke-width: 8;
  stroke: #D1D3D7;
  fill: none;
}

.circle--top {
  stroke-width: 8;
  stroke: #1f90e6;
  fill: none;
  transform: matrix(0, -1, 1, 0, 0, 120);
  transition: stroke-dasharray .25s;
}

.circle--top__complete {
  stroke: #57c22d;
  transition: stroke-dasharray .25s;
}

.circle--text {
  font-weight: 100;
  font-size: 18px;
  stroke: #666;
}

.circle--image {
  height: 30px;
  width: 30px;
}

.process--line {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.process--wrapper {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
}

.line{
  flex: 1;
  height: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.line__active {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: #1f90e6;
  transition: width .25s;
}

.line__complete {
  background-color: #57c22d;
  transition: width .25s;
}

.process--info {
  width: 50px;
  text-align: center;
}

.process--text {
  width: 100%;
  color: #666;
}

.process--text__complete {
  height: 15px;
  width: 15px;
  margin-top: 3px;
}

.process--action {
  display: flex;
  margin-bottom: 10px;
}

.action--item {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  font-weight: 200;
  color: #333;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.action--item:first-child {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.action--item:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}